<br/>
<form  class="well" ng-submit="salvar()" >

    <h1 class="text-center">Cadastro de Cliente</h1>

    <div role="form">

    <div id="nomeDiv" class="form-group " ng-class="{true:'has-error',false:''}[errors.nome!=null]">

        <label for="nomeInput" class="control-label">Nome </label>
        <input id="nomeInput" type="text" class="form-control" ng-model="cliente.nome"/>
        <span id="help-nome" class="help-block">{{ errors.nome }}</span>

    </div>

    <div id="cpfDiv" class="form-group " ng-class="{true:'has-error',false:''}[errors.cpf!=null]">

        <label for="cpfInput" class="control-label">CPF </label>
        <input id="cpfInput" type="text" class="form-control" ng-model="cliente.cpf"/>
        <span id="help-cpf" class="help-block">{{ errors.cpf }}</span>

    </div>

    <div id="emailDiv" class="form-group " ng-class="{true:'has-error',false:''}[errors.email!=null]">

        <label for="emailInput" class="control-label">E-mail </label>
        <input id="emailInput" type="text" class="form-control" ng-model="cliente.email"/>
        <span id="help-email" class="help-block">{{ errors.email }}</span>

    </div>

    <button type="submit" class="btn btn-success" >Salvar</button>
        <img ng-show="executandoSalvamento" src="/static/img/ajax.gif" >
    </div>

    </div>
    </form>